.header{
    background-image: url(../image/burger-banner5-1.jpg);
    width: 100%;
    max-height: 70vh;
    aspect-ratio: 16/9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;/*可以改fixed*/
    top: 0;
    z-index: 9998;
    background-color:transparent;
    transition: background-color 0.3s ease;
}
.content-banner{
    position: absolute;
    left:10%;
    bottom: 15%;
    z-index: 1;
}

/* -------------------menu----------------- */

.menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 50px;
    
}
.mainbtn-menu{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
.mainbtn-menu button{
    margin: 0 20px;
    font-size: 16px;
    cursor: pointer;
    position: sticky;
}
.container-menu{
    padding: 0 30px 30px;
}

.hidden{
    display: none;
}
.title-sticky{
    margin: 10px 0;
}
@media screen and (min-width:768px){
    .container{
        max-width: 730px;
    }
}


/* -------------self------------ */

.container-selfmenu{
    width: 100%;
}
.self-box-wrap{
    position: sticky;
    bottom: 51px;
    z-index: 9997;
}
.self-box{
    width: 100%;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter:blur(8px);
    background-color: hsla(0, 0%, 93%, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.self-box h3{
    font-size: 16px;
    margin: 5px;
}
.choice-self{
    min-height: 70px;
    max-height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.choice-list{
    margin: 0 5px;
    text-align: left;
}
.item-choice{
    line-height: 1.6;
    color: #595959;
    cursor:default;
    font-size: 14px;  /* 12px */
    /* display: none; */ 
}
.item-choice span{
    display: inline-block;

}
.item-choice button{
    border: none; 
    background-color:transparent;
}
.x-choice{
    font-size: 12px;
    cursor: pointer;
}
.price-self{
    padding: 10px;
}
.self-info{
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 0;
    width: 100%;
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;
    background-color: #fff;
    padding: 10px 0;
}
.self-info button{
    font-size: 12px;
    padding: 7px 50px;
}

.self-container-menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border: solid 1px #fff;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 0 6px hwb(0 0% 100% / 0.25);
    padding: 0 30px 50px;
    position: relative;
}
.self-type-menu{
    margin: 0 0 20px;
    padding: 70px 0 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top:0px;
    z-index: 9997;
    background-color: #fff;
    border-bottom:solid 1px #eee ;
}
.self-type-menu ul{
    display: flex;
    justify-content: center;

}
.self-type-menu ul li button{
    border: none;
    background-color: #fff;
    color: #595959;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0 15px;
    border-bottom:solid 2px #eb222200;
    padding: 0 0 5px;
    transition: 0.1s;
}
.self-type-menu ul li button:hover{
    border-bottom:solid 2px #EB2222;
}
.self-type-menu ul li button.active {
    border-bottom: 2px solid #EB2222; /* 修改這裡的顏色和粗細 */
}
.self-content{
    display: none;
}
.active{
    display: block;
}
.self-wrap{
    border: none;
    background-color: #fff;
    /* margin: 30px auto; */
}
.self-card{
    width: 200px;
    /* height: 250px; */
    border: solid 1px #fff;
    border-radius: 20px;
    box-shadow: 0 0 6px hwb(0 0% 100% / 0.25);
    margin: 10px auto;

}
.self-pic-menu{
    width: 200px;
    height: 150px;
    border-radius: 20px 20px 0 0 ;
    overflow: hidden;
}
.self-pic-menu img{
    width: 100%;
    vertical-align: top;
    transition: 0.5s;
}
.self-txt-card{
    letter-spacing: 2px;
    text-align: center;
    background-color: #eee;
    padding: 10px;
    border: solid 1px #eee;
    border-radius: 0 0 20px 20px;
    transition: 0.5s;

}
.self-txt-card h4{
    color: #595959;
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin: 10px;
    transition: 0.5s;

}
.self-txt-card p{
    font-size: 16px;
    color: #595959;
    margin: 0 10px 0;
    line-height: 1.6;
    transition: 0.5s;
}
.self-card:hover.self-card img{
    scale: 1.2;
}
.self-txt-card:hover{
    background-color: #EB2222;
    border:solid 1px #EB2222;
    color: #fff;
}
.self-txt-card:hover.self-txt-card h4{
    color: #fff;
}
.self-txt-card:hover.self-txt-card p{
    color: #fff;
}
.no-self-menu{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.self-x{
    display: block;
    /* font-size: 30px; */
    scale: 3;
    transition: 0.5s;
}
.no-self-txt-card{
    height: 93.59px;
    background-color: #eee;
    border: solid 1px #eee;
    border-radius: 0 0 20px 20px;
    transition: 0.5s;
}
.self-card:hover .self-x{
    scale: 4;
}
.self-card:hover .no-self-txt-card{
    background-color: #EB2222;
}


